<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera</title>
    <link href="../src/style/profile.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">

</head>
<body>

<section id="camera" class="page camera hidden">
    <img
            src="https://avatars.yandex.net/get-music-content/176019/ae55886e.a.7643997-1/m1000x1000"
            class="camera_image"
            alt=""
    >
    <div class="frame">
        <div class="box"></div>
    </div>
    <button id="button_close_game" class="button_back"><i class="fa fa-chevron-left"></i></button>
    <div class="camera_border"></div>
</section>
</body>
</html> 