<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera</title>
    <link href="../src/style/profile.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">

</head>
<body>

<section id="camera" class="page camera hidden">
    <div class="frame">
        <button id="button_close_game" class="button_back"><i class="fa fa-chevron-left"></i></button>

        <div class="box">
            <div></div>
        </div>
        <button id="button_open_game" class="button_open_camera">Играть</button>
    </div>
</section>
</body>
</html>