<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>game</title>
    <link href="../src/style/profile.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
</head>
<body>
<section id="game" class="page game hidden">
    <div class="header">
        <div class="title">
            <button id="button_close_game" class="button_back"><i class="fa fa-chevron-left"></i></button>
            <h1>Game</h1>
            <div></div>
        </div>
        <div class="info">
            <span>Сервис для заказа кофе, состоящий из web приложения и нативных мобильных приложений.
            </span>
        </div>
    </div>
    <div class="main">
        <div>
            <span class="active">Платформа</span>
            <div class="container">
                <div class="block correct">Android</div>
                <div class="block correct">iOS</div>
                <div class="block correct">Web</div>
                <div class="block">Windows</div>
            </div>
        </div>
        <div>
            <span class="">Языки программирования</span>
            <div class="container">
                <div class="block correct">Java Script</div>
                <div class="block">C#</div>
                <div class="block correct">Java</div>
                <div class="block">Swift</div>
            </div>
        </div>
        <div>
            <span class="">Среды разработки</span>
            <div class="container">
                <div class="block incorrect">Unity</div>
                <div class="block correct">Android Studio</div>
                <div class="block correct">XCode</div>
                <div class="block">Web Storm</div>
            </div>
        </div>
    </div>
    <button id="button_hack" class="button_open_camera">Взломать</button>
</section>
</body>
</html>