<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, viewport-fit=cover">
    <title>HackSec</title>
    <link href="../src/style/profile.css" rel="stylesheet">
    <script src="src/js/navigation/navigation.js" defer></script>
    <script src="src/js/navigation/render.js" defer></script>
    <script src="src/js/ui/ui.js" defer></script>
    <script src="src/js/start.js" defer></script>
</head>
<body>
<section id="profile" class="page">
    <div class="profile">
        <img src="../../hacksec/src/img/Icon.png" alt="">
        <h1>Profile</h1>
    </div>
    <div class="main-wrapper">
        <div class="zero"></div>
        <button id="button_open_project" class="button_open active Manifesto">Manifesto</button>
        <button id="button_open_project" class="button_open WayCo">WayCo</button>
        <button id="button_open_project" class="button_open RecyclingStarter">Recycling Starter</button>
        <button id="button_open_project" class="button_open ISC">ISC</button>
        <button id="button_open_project" class="button_open RushZone">Rush Zone</button>
        <button id="button_open_camera" class="button_open_camera">Сканировать</button>
    </div>
</section>
</body>
</html>