<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../src/style/profile.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
    <title>Project</title>
</head>
<body>
<section id="project" class="page project hidden">
    <div class="header">
        <div class="title">
            <button id="button_close_game" class="button_back"><i class="fa fa-chevron-left"></i></button>
            <h1>Project</h1>
            <div></div>
        </div>
    </div>
    <div class="preview">
        <img src="../src/img/Screenshot.svg" alt="">
        <img src="../src/img/Screenshot.svg" alt="">
        <img src="../src/img/Screenshot.svg" alt="">
    </div>
    <div class="text">
        <span>WayCo — стартап по удалённому заказу кофе.
            Перед тем, как пойти на работу/учёбы, ты можешь сделать заказ в кофейне через наш сервис к определённому времени. И когда ты подойдёшь, просто забираешь заказ без необходимости стоять в очереди или ждать его приготовления.
            Кроме того, есть возможность динамического определения времени прибытия в кофейню по геолокации и дорожной ситуации.
            <br><br>
            Сервис состоит из нескольких частей:<br>
            1. Web приложение для пользователей — HTML5/CSS3/JS/React<br>
            2. VK Mini App для пользователей — HTML5/CSS3/JS/React<br>
            3. iOS приложение — Swift<br>
            4. Android приложение — Java<br>
            5. Приложение для касс кофейн-партнёров для отслеживания заказов — Java
        </span>
    </div>
    <button id="button_hack" class="button_open_camera">Взломать</button>

</section>
</body>
</html>